.header {
    position: fixed; 
    width: 100%;
    left: 0; 
    top: 0;
    min-height: 150px;
    z-index: 10;
    background-color: #5B91A1;
}

.container {
    position:absolute; 
    top:150px;
    overflow: hidden;
	width: 100%;
	height: 100%;
}

.left {
	float:left;
	position: absolute;
    width: 50%;
	height: 100%;
	background-color: #F5F5DC;
    top:0;
    left:0;
    bottom:0;
}

.right {
	float:right;
	background-color: #F5F5DC;
    width: 49.9%;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #313336;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #5B91A1;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form h4 {
	font-family: caslon;
	font-size: 22px;
	color: #313336;
}

.form .message a {
  color: #5B91A1;
  text-decoration: none;
}
.form .register-form {
  display: inline-block;
}
