
	.first, .second , .final {
	    float: left;
	    height: 100%;
	    border: 0.5px solid black;
	    margin: 20px;
	    font-size: 20px;
	    background: #F0F8FF;
	    padding : 20px;
	}


	.container {
	    margin-left: 150px;
	    margin-top: 100px;
	}

	h4 {
	    color: cadetblue;
	    text-align: center;
	}
	
	.textbox { 
	    border: 1px solid #999; 
	    outline:0; 
	    height:25px; 
	    width: 275px; 
	  }
	  
	 .button1 {
    	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    	padding: 7px 20px;
    	margin-top: 10px;
	} 

